<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1eBO2W4GD9JRkTx6En2_K1NMbsdi47yk</string>
	<key>GCM_SENDER_ID</key>
	<string>28860016816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherpanew</string>
	<key>PROJECT_ID</key>
	<string>sherpa-963a3</string>
	<key>STORAGE_BUCKET</key>
	<string>sherpa-963a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28860016816:ios:2184f8aba770b01bd6b375</string>
</dict>
</plist>